<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
{{#link-to "application" tagName="li"}}<a class="navbar-brand" href="#">HOME</a>{{/link-to}}
</div>
<div>
<ul class="nav navbar-nav">
	{{#link-to "posts" tagName="li"}}<a href="/posts">Posts</a>{{/link-to}}
	{{#link-to "calendar" tagName="li"}}<a href="/calendar">Calendar</a>{{/link-to}}
	{{#link-to "about" tagName="li"}}<a href="/about">About</a>{{/link-to}}
	{{!--#link-to "admin" tagName="li"}}<a href="/admin">Admin</a>{{/link-to--}}	
	{{!--#link-to "search" tagName="li"}}<a href="/search">Search</a> <input id="search" type="text"/>{{/link-to--}}
	<li><form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form></li>
</ul>
<ul class="nav navbar-nav navbar-right">

	{{!--else}}
		{{#link-to 'createAccount' tagName="li"}}<a href="/createAccount">Create Account</a>{{/link-to--}}
	{{log authControllerChild.isLoggedIn}}
	{{#if authControllerChild.isLoggedIn}}
		<!--li class="navbar-text navbar-right">Signed in{{!authControllerChild.username}}
		</li-->
		<!--button {{action 'foo'}}>alert foo</button-->
		{{#link-to 'auth' tagName="li"}}<a href="/auth">Logout</a>{{/link-to}}
	{{else}}
		{{#link-to 'auth' tagName="li"}}<a href="/auth"><i class="fa fa-user"></i></a>{{/link-to}}
		{{!--#link-to 'createAccount' tagName="li"}}<a href="/createAccount">Create Account</a>{{/link-to--}}
	{{/if}}
	
</ul>
</div>
</div>
</nav>