<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
{{#link-to "home" tagName="li"}}<a class="navbar-brand" href="#">HOME</a>{{/link-to}}
</div>
<div>
<ul class="nav navbar-nav">
	{{#link-to "posts" tagName="li"}}<a href="/posts">Posts</a>{{/link-to}}
	{{#link-to "calendar" tagName="li"}}<a href="/calendar">Calendar</a>{{/link-to}}
	{{#link-to "about" tagName="li"}}<a href="/about">About</a>{{/link-to}}
</ul>
<ul class="nav navbar-nav navbar-right">

	{{!--else}}
		{{#link-to 'createAccount' tagName="li"}}<a href="/createAccount">Create Account</a>{{/link-to--}}
	{{!log authControllerChild.isLoggedIn}}
	{{#if authControllerChild.isLoggedIn}}
		<!--li class="navbar-text navbar-right">Signed in{{!authControllerChild.username}}
		</li-->
		<!--button {{action 'foo'}}>alert foo</button-->
		{{#link-to 'auth' tagName="li"}}<a href="/auth">Logout</a>{{/link-to}}
	{{else}}
		{{#link-to 'auth' tagName="li"}}<a href="/auth"><i class="fa fa-user"></i></a>{{/link-to}}
		{{!--#link-to 'createAccount' tagName="li"}}<a href="/createAccount">Create Account</a>{{/link-to--}}
	{{/if}}
</ul>
</div>
</div>
</nav>