<form {{action 'addEvent' on='submit'}}>
  <div class="form-group">
    <label>Name The Event</label>
    {{!bootstrap-datepicker autoclose=true placeholder='Event Name' class='form-control' value=title}}
    {{input value=title placeholder='Event Name' class='form-control'}}
  </div>
  <div class="form-group">
    <label>Start Date</label>
    {{bootstrap-datepicker autoclose=true placeholder='Start Date' class='form-control' value=startDate}}
    {{!input value=startDate placeholder='YYYY-MM-DD' class='form-control'}}
  </div>
  <div class="form-group">
    <label>End Date</label>
    {{bootstrap-datepicker autoclose=true placeholder='End Date' class='form-control' value=endDate}}
    {{!input value=endDate placeholder='YYYY-MM-DD' class='form-control'}}
  </div>
  <button type="submit" class="btn btn-default">Create Event</button>
</form>
